*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
*.dat_old
dist/world_nether/session.lock
*.jardesc
dist/world_the_end/uid.dat
*.lock
*.mca
dist/world/stats/d55f4f3d-a10c-39e5-9cf9-45c8141378e8.json
dist/world/stats/b8c9d02e-a7b1-4e1a-b790-22f0aad5cd3f.json
dist/world/stats/071bc599-4f0f-3c9c-87ee-8a0707e02fc7.json
dist/world/playerdata/d55f4f3d-a10c-39e5-9cf9-45c8141378e8.dat
*.dat
dist/world/icon.png
dist/world/advancements/d55f4f3d-a10c-39e5-9cf9-45c8141378e8.json
dist/world/advancements/b8c9d02e-a7b1-4e1a-b790-22f0aad5cd3f.json
dist/world/advancements/071bc599-4f0f-3c9c-87ee-8a0707e02fc7.json
dist/whitelist.json
dist/wepif.yml
dist/usercache.json
dist/spigot.yml
dist/server.properties
dist/plugins/WorldEdit/config.yml
*.gz
dist/plugins/Taf/config.yml
dist/plugins/PluginMetrics/config.yml
dist/plugins/BetterReload/config.yml
dist/permissions.yml
*.log
dist/eula.txt
dist/ops.json
dist/help.yml
dist/commands.yml
*.classpath
.externalToolBuilders/CreateJar.launch
dist/bukkit.yml
dist/banned-players.json
dist/banned-ips.json
bin/plugin.yml
bin/config.yml
.settings/org.eclipse.jdt.core.prefs
.project
